<head>
  <title>DTube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="https://dtube.network/DTube_files/images/dtubefavicon.png"/>
  <meta name="description" content="DTube, alternative decentralized video platform."/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<template name="masterLayout">
<body>
  {{> pusher}}
</body>
</template>