<template name='videosettingsdropdown'>
  <div class="ui item dropdown dropdownvideosettings right floated" style="float: right;margin-bottom: 0px;padding-right: 0px;z-index: 999;padding-left: 0px;
  padding-bottom: 0px;">
    <button class="ui icon button brd-rad-non" style="font-size: 1.4rem;border-style: solid;background: transparent none !important;  margin-right: 0px;
      border-width: 0px 0px 0px 0px;box-shadow:none;-webkit-box-shadow: none;border-color: rgba(34, 36, 38, 0.15);">
      <i class="ellipsis horizontal icon" style="margin-top: -6px !important;"></i>
    </button>
    <!-- <i class="ellipsis horizontal icon videohmore"></i> -->
    <div class="menu">
      <div class="item resteem">
        <a>
          <span class="customlink">
            <i class="retweet icon"></i>{{ translate 'VIDEO_SETTINGS_RESTEEM'}}
          </span>
        </a>
      </div>
      <div class="item copylink">
        <span class="customlink">
          <i class="share icon"></i>{{ translate 'VIDEO_SETTINGS_COPY_PERMA_LINK'}}</span>
        <input id="permalink" style="width:0px;visibility:hidden;" type="text" placeholder="Permalink" value="https://dtube.network/v/{{info.author}}/{{info.permlink}}" readonly>
        <!--<div class="ui button copy" style="width:130px;">{{ translate 'VIDEO_COPY_PERMA_LINK'}} </div>   -->
      </div>
      <div  class="item copyembed">
        <span class="customlink">
          <i class="external share icon"></i>{{ translate 'VIDEO_SETTINGS_COPY_EMBED_LINK'}}</span>
        <input id="embedlink" style="width:0px;visibility:hidden;" type="text" placeholder="Embed" value="{{ getEmbedCode info.author info.permlink }}" readonly>
        <!--<div class="ui button copyembed" style="width:130px;">{{ translate 'VIDEO_COPY_EMBED_LINK'}}</div> -->
      </div>
      {{#if content.magnet}}
      <div class="item">
        <a href="{{content.magnet}}">
          <span class="customlink"> 
            <i class="magnet icon"></i> {{ translate 'VIDEO_SETTINGS_DOWNLOAD_FROM_MAGNET'}}</span>
        </a>
      </div>
      {{/if}}
      {{#unless isInWatchLater}}
      <div class="item addvideotowatchlater">
          <a>
            <span class="customlink">
              <i class="plus icon"></i>{{ translate 'VIDEO_SETTINGS_ADD_TO_WATCH_LATER'}}</span>
          </a>
        </div>
      {{/unless}}
      <div  class="item pin">
        <span class="customlink">
          <i class="plus icon"></i>{{ translate 'VIDEO_PIN'}}</span>
        <input id="pin" style="width:0px;visibility:hidden;" type="text" placeholder="Embed" value="{{ getEmbedCode info.author info.permlink }}" readonly>
        <!--<div class="ui button copyembed" style="width:130px;">{{ translate 'VIDEO_COPY_EMBED_LINK'}}</div> -->
      </div>
    </div>
  </div>
</template>